.card {
  position: relative;
  box-shadow: 1px 1px 1px 1px lightgrey;
  height: 175px;
  margin: 5px;
  background-color: white;
  p {
    font-size: 10px;
  }
}

.card-logo {
  max-height: 40%;
  position: absolute;
  top: 1px;
  left: 20px;
}

.card-name {
  position: absolute;
  bottom: 20px;
  left: 20px;

}

.card-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: blue;
  opacity: 0;
  &:hover {
    opacity: 0.1;
  }
}
