.contact_list {
  display: flex;
  position: relative;
}

.contact_item {
  flex: 0 0 33%;
  // background-color: white;
  border-bottom: solid 1px $mid-gray;
  padding: 2px;
}

.header {
  background-color: $mid-gray;
  color: white;
}

.list-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: $mid-gray;
  opacity: 0;
  &:hover {
    opacity: 0.3;
  }
}
