.bold {
  font-weight: bold;
}

.flex-box {
  display: flex;
}

.no-margin {
  margin: 0px;
}

.padding-top-more {
  padding-top: 50px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

