#logo {
  background-color: white;
  border-radius: 50%
}

.bold {
  font-weight: bold;
}

.mid-gray {
  color: $mid-gray;
}

.flex-box {
  display: flex;
}

.no-margin {
  margin: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.padding-top-more {
  padding-top: 50px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

.btn-unusable {
  border: solid 1px $mid-gray;
  color: $mid-gray;
  font-style: italic;
  opacity: 0.8;
}

.btn-unusable-green {
  border: solid 1px green;
  color: green;
  // background-color: green;
  font-style: italic;
  opacity: 0.8;
  &:hover {
    color: green;
  }
}

.btn-unusable-red {
  border: solid 1px red;
  color: red;
  // background-color: green;
  font-style: italic;
  opacity: 0.8;
  &:hover {
    color: red;
  }
}

.bold {
  text-weight: bold;
}

.fullscreen {
   min-height: 100vh;
}

