.bold {
  font-weight: bold;
}

.flex-box {
  display: flex;
}

.no-margin {
  margin: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.padding-top-more {
  padding-top: 50px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

.btn-unusable {
  border: solid 1px $mid-gray;
  color: $mid-gray;
  font-style: italic;
  opacity: 0.8;
}

.bold {
  text-weight: bold;
}

